{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'blog/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="brand-title">Martins Blog</div>
        <a href="#" class="toggle-button">
          <span class="bar"></span>
          <span class="bar"></span>
          <span class="bar"></span>
        </a>
        <div class="navbar-links">
          <ul>
            <li><a href="{% url 'blog:main_page' %}">Home</a></li>
            <li><a href="{% url 'blog:blog_list' %}">Blogs</a></li>
            <li><a href="{% url 'blog:newest_blog' %}">Newest Blog</a></li>
          </ul>
        </div>
    </nav>
    {% block content %}{% endblock %}


    <h2>THANK YOU FOR VISITING @ Martin Jaros</h2>
    <footer>Copyright r 2024</footer>
</body>
</html>